/* primary text color #757575; */
/* secondary text color #212121 */
/* accent text color #2196F3 */
/* white color #FFFFFF */

/* Main styles */
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-text: #2196f3;
  --white-color: #ffffff;
  --button-hover: #188ce8;
  --section-bg-color: #f5f4fa;
  --card-border-color: #eeeeee;
  --header-bottom-border: #ececec;
  --primary-icons-color: #afb1b8;
  --emergency-bgc: #c4c4c4;

  --grid-item: 1;
  --grid-item-gap: 30px;
}
body {
  vertical-align: middle;

  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--white-color);
}

.link {
  text-decoration: none;
  color: inherit;
  margin: 0;
}
.list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  /* outline: 1px solid turquoise; */
}
.nav-icons {
  fill: currentColor;
  margin-right: 10px;
}

.soc-icon {
  fill: var(--primary-icons-color);
  width: 20px;
  height: 20px;
}
.social-icons-item {
  display: inline-flex;
  width: 44px;
  height: 44px;
}

.social-icons-item + .social-icons-item {
  margin-left: 10px;
}

.social-icons-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 44px;
  width: 44px;
}

.social-icons-link:hover,
.social-icons-link:focus,
.social-icons-link:hover .soc-icon,
.social-icons-link:focus .soc-icon {
  background-color: var(--accent-text);
  fill: var(--white-color);
}

.item:not(:last-child) {
  margin-right: var(--grid-item-gap);
}
.filter-item {
  margin-top: 30px;
}
.grid {
  display: flex;
  flex-wrap: wrap;
}
.grid-item {
  --grid-item: 4;
  flex-basis: calc((100% - var(--grid-item-gap) * (var(--grid-item) - 1)) / var(--grid-item));
}

/* Individuals features */
.header {
  border-bottom: 1px solid var(--header-bottom-border);
}
.footer {
  font-weight: inherit;
  height: 252px;
  align-items: center;
}
.footer .container {
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-address {
  margin-top: 20px;
}
.footer-address .link {
  margin-top: 9px;
}

/* Logo styles */
.logo {
  color: var(--accent-text);
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  vertical-align: middle;
}
.logo > .header {
  color: #000000;
  border-bottom: none;
}
.logo > .footer {
  color: var(--white-color);
}
/* Header positioning */
.header .container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header .link {
  padding-top: 32px;
  padding-bottom: 32px;
}

.navigation .logo {
  margin-right: 93px;
  padding: 0;
}
.navigation,
.nav-contacts .item {
  display: flex;
  align-items: center;
}
.site-nav,
.nav-contacts {
  display: inline-flex;
}

.nav-contacts {
  margin-left: auto;
}
/* Styles for links in header */
.site-nav .item:not(:last-child),
.nav-contacts .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  color: var(--secondary-text-color);
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus,
.nav-contacts .link:hover,
.nav-contacts .link:focus,
.site-nav .current {
  color: var(--accent-text);
}
.nav-contacts .link {
  color: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
/* Hero with temporary background*/
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: linear-gradient(to right bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: 1600px 600px;
  background-position: center;
  background-color: var(--emergency-bgc);
  /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
}
.hero .container {
  width: 696px;
}
.hero-title {
  margin: 0;
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button {
  margin-top: 30px;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 10px 32px;

  color: var(--white-color);
  background: var(--accent-text);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
  letter-spacing: 0.06em;
}
.button:hover,
.button:focus {
  background: var(--button-hover);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/* Sections */
/* Hidden titles */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-advantages {
  padding-top: 94px;
}
.adv-icons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: var(--section-bg-color);
}
.advantages-icon {
  width: 70px;
  height: 70px;
}

.advatages-title {
  margin: 0 0 10px 0;
  color: var(--secondary-text-color);
  font-size: inherit;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}
.text {
  margin-bottom: 0;
}

.section-title {
  margin: 0 0 50px 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.team {
  background: var(--section-bg-color);
  text-align: center;
}

.team-item {
  width: 270px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-text {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--secondary-text-color);
}
.team-position {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  color: var(--primary-text-color);
}
/* Clients section */
.clients-list {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid var(--primary-icons-color);
  border-radius: 4px;
}
.client-item + .client-item {
  margin-right: 30px;
}
.client-icon {
  fill: var(--primary-icons-color);
}
.client-link:hover,
.client-link:focus {
  border: 1px solid var(--accent-text);
}
.client-link:hover .client-icon,
.client-link:focus .client-icon {
  fill: var(--accent-text);
}

/* Styles for footer. With temporary background*/
.footer-container {
  display: inline-block;
  vertical-align: text-top;
}
.footer-container:not(:last-child) {
  margin-right: 70px;
}
.soc-container {
  padding-top: 12px;
}

.footer,
address {
  color: var(--white-color);
  background: #2f303a;
  font-style: normal;
}
.footer-contacts {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
}
.footer-title {
  color: var(--white-color);
  font-family: inherit;
  font-size: inherit;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--accent-text);
}
.footer-icon {
  fill: var(--white-color);
}
.footer-soc-link {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

/* Styles for PORTFOLIO page */
.portfolio-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.filter-link:hover,
.filter-link:focus {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.btn-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.btn-list .item {
  display: block;
}
.btn-list .item:not(:last-child) {
  margin-right: 8px;
}

.filter-item:nth-child(3n) {
  margin-right: 0;
}
.filter-item:nth-child(-n + 3) {
  margin-top: 0;
}
.filter-item {
  --grid-item: 3;
}
.filter:hover,
.filter:focus {
  color: var(--white-color);
  background-color: #188ce8;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filter {
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 6px 22px;
  color: var(--secondary-text-color);
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
}

.filter-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);

  margin-bottom: 4px;
}

.filter-text {
  padding: 20px 24px;
  border-bottom: 1px solid var(--card-border-color);
  border-left: 1px solid var(--card-border-color);
  border-right: 1px solid var(--card-border-color);
}
